#app,
html,
body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: #eee;
}
.van-grid-item__content {
  padding: 0;
}
h4,
p {
  margin: 0;
}
.van-tabbar{
  border-top: 1px solid #eee;
}
h3{
  text-align: center;
  margin: 0;
}
